<%= stylesheet_link_tag "style.css" %>
<h1>MergeWebServer - FRC scouting data collection server</h1>
<a href="https://github.com/FRC2706/MergeWebServer/">Find me on GitHub!</a>
<br>
<h3>View Data</h3>
<p><%= link_to "List Teams", :controller => :teams, :action => :list %>|<%= link_to "List Competitions", :controller => :competitions, :action => :list %></p>
<h3>Sync with <a href="https://www.thebluealliance.com/">The Blue Alliance</a></h3>
<p>Feature not yet implemented</p>
